/* Texte du message gagnant */
.endgame-message {
    -fx-font-size: 36px;
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/* Style bouton retour au menu */
.menu-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-text-fill: linear-gradient(
            from 0% 0% to 0% 100%,
            #FF9900 0%,
            #FFD700 40%,
            #FFD700 60%,
            #FF9900 100%
    );
    -fx-font-family: 'Press Start 2P', 'Consolas', 'monospace';
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 6 20 6 20;
    -fx-cursor: hand;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Hover et focus : texte blanc avec légère ombre rétro */
.menu-button:hover, .menu-button:focused {
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(one-pass-box, #FF9900, 1, 0.7, 1, 2);
}

.endgame-message {
    -fx-font-family: 'Press Start 2P', monospace;
    -fx-font-size: 42px; /* un peu plus petit */
    -fx-text-fill: linear-gradient(
            from 0% 0% to 0% 100%,
            #FFA500,
            #FF4500
    );
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.9), 5, 0, 3, 3 );
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-padding: 6 0 10 0; /* moins de padding en haut pour remonter un peu */
    -fx-max-width: 400px;
}




